name: 'Release'

on:
  release:
    types:
      - 'published'

env:
  PYTHON_VERSION: '3.12'
  NODE_VERSION: '20.x'
  NODE_OPTIONS: --max_old_space_size=6144

permissions: {}

jobs:
  release:
    name: 'Release'
    runs-on: 'ubuntu-latest'
    permissions:
      contents: write
    steps:
      - name: 'Checkout the repository'
        uses: 'actions/checkout@v6'

      - name: Get tag
        id: vars
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          activate-environment: true

      - name: Set Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: |
          npm ci
          uv sync --dev

      - name: Set Python project version from tag
        run: uvx hatch version "${{ steps.vars.outputs.tag }}"

      - name: Build and release package
        run: |
          npm run build
          rm -rf dist music_assistant_frontend.egg-info
          uv build

      - name: Publish release to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}

      - name: 'ZIP the integration directory'
        shell: 'bash'
        run: |
          cd "${{ github.workspace }}/energy_assistant_frontend"
          zip energy-assistant-frontend.zip -r ./

      - name: 'Upload the ZIP file to the release'
        uses: softprops/action-gh-release@v2.4.2
        with:
          files: |
            ${{ github.workspace }}/energy_assistant_frontend/energy-assistant-frontend.zip
            dist/*.whl
            dist/*.tar.gz
